/*
 * CSS for global
 */

/**
 * Globals
 **/
body {
  font-family: "Verdana", sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0.5em;
}

/**
 * Main containers
 **/
header {
  clear: both;
}

section#main {
  clear: both;
}

footer {
  clear: both;
}

/**
 * Header
 **/
h1#logo {
  font-family: "Rammetto One", sans-serif;
  font-size: 2em;
}

/**
 * Main body
 **/
section#main > section {
  clear: both;
}

/* Query search box */
section#searchBox {
  padding: 0.3em 0;
}

input#q {
  width: 25em;
  font-size: 1.2em;
}

a#submit {
  padding-left: 5px;
  text-decoration: none;
}

/* Search results */
section#searchResults {
  overflow: hidden;
  height: 700px;
}

/* Left pane */
div#results {
  float: left;
  border: solid #000 1px;
  width: 360px;
  height: 100%;
  overflow: auto;
}


div.result {
  background: #E8E8E8;
  padding: 0.2em;
}
div.result:nth-child(odd) {
  background: #D3D3D3;
}
div.result h3 {
  font-weight: 700;
  text-decoration: underline;
  font-size: 0.8em;
}
div.result span {
  font-size: 0.9em;
}

div.result:hover {
  background: #FF6103;
}

/* Right pane */
#map_container {
  float: right;
  margin-left: -370px;
  height: 100%;
  width: 100%;
}

#map_canvas {
  margin-left: 370px;
  height: 100%;
  width: 100%;
}
/*
#daily {
  width: 500px;
  height: 150px;
}

#weekly {
  width: 500px;
  height: 150px;
}
#info {
  margin-left: 410px;
  margin-right: 10px;
}
*/

/**
 * Footer
 **/
