<%= text_field_tag :q %>
<a href="javascript:;" id="submit">Search</a>


<div id="results">
  <h3>No results, bro</h3>
</div>

<div id="info">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel mauris risus. Aenean commodo porttitor quam, ut posuere quam tristique ut. Mauris eget nunc orci. Integer tincidunt odio eu elit viverra vulputate. In id lacus arcu, et condimentum velit. Duis accumsan blandit est, gravida imperdiet libero adipiscing et. Sed felis enim, ullamcorper id suscipit sit amet, consectetur ut ligula. Phasellus vel ipsum id massa tincidunt vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam sapien magna, tincidunt sed pellentesque at, scelerisque quis ante.</p>

  <p>Suspendisse ligula enim, sodales ac semper vel, aliquet et purus. Integer feugiat metus ac massa sagittis sit amet pellentesque lacus eleifend. Phasellus vitae odio in tellus suscipit congue non consectetur nisl. Pellentesque nec dolor vel purus ullamcorper dignissim vel nec lacus. Suspendisse ullamcorper dui sed risus imperdiet at laoreet magna gravida. Aliquam auctor porttitor risus, auctor placerat nulla blandit et. Maecenas id est nunc. Sed laoreet sapien fermentum lectus vehicula mollis. Maecenas vitae nunc mauris. Aenean mattis posuere erat, ac placerat magna semper sit amet.</p>

  <p>Pellentesque non erat posuere risus consequat volutpat. Nulla facilisi. Duis odio arcu, tempus id consectetur at, dapibus a tellus. In hac habitasse platea dictumst. Donec dapibus imperdiet posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed mi felis, feugiat congue dignissim a, porta eget erat. Donec consequat, risus vitae fermentum consequat, turpis massa elementum dolor, et venenatis lorem felis eget diam. Vestibulum adipiscing egestas augue.</p>

</div>
