<section id="searchBox">
  <%= text_field_tag :q %>
  <a href="javascript:;" id="submit">Search</a>
</section>


<section id="searchResults">
  <div id="map_container">
    <div id="map_canvas"></div>
  </div>

  <div id="results">
    <h3 style="padding: 1em; text-align: center">No results, bro</h3>
  </div>

</section>
