<div id="searchBox">
  <%= text_field_tag :q %>
  <a href="javascript:;" id="submit">Search</a>
  <input type="radio" name="busy" value="not_busy" checked>Not crowded</input>
  <input type="radio" name="busy" value="busy">Popular</input>
</div>


<div id="results">
  <h3>No results, bro</h3>
</div>

<div id="info">
  <h2>Dude, search for something.</h2>
</div>
