<section id="searchBox">
<%= text_field_tag :q, '', {:placeholder => 'Place name, category, etc'} %>
  <a href="javascript:;" id="submit">Search</a>
  <input type="radio" name="busy" value="not_busy" checked>Not crowded</input>
  <input type="radio" name="busy" value="busy">Popular</input>
</section>


<section id="searchResults">
  <div id="map_container">
    <div id="map_canvas"></div>
  </div>

  <div id="results">
    <h2 style="padding: 1em; text-align: center; font-weight: bold">Search for something!</h2>
    <p style="padding: 1em; font-size: 12pt; text-align: center">Place names, food types, points of interest. Anything and everything.</p>
  </div>

</section>
