<div id="searchBox">
  <%= text_field_tag :q %>
  <a href="javascript:;" id="submit">Search</a>
</div>


<div id="results">
  <h3>No results, bro</h3>
</div>

<div id="map_container">
  <div id="map_canvas"></div>
</div>
